[Desktop Entry]
Name=Lliurex Remote Installer Notifier
Name[ca]=Lliurex Remote Installer Notifier
Name[ca@valencia]=Lliurex Remote Installer Notifier
Name[en_GB]=Lliurex Remote Installer Notifier
Name[es]=Lliurex Remote Installer Notifier
Comment=Show warnings when lliurex-remote-instaler is running
Comment[ca]=Mostra avisos quan lliurex-remote-installer s'està executant
Comment[ca@valencia]=Mostra avisos quan lliurex-remote-installer s'està executant
Comment[en_GB]=Show warnings when lliurex-remote-instaler is running
Comment[es]=Muestra avisos cuando lliurex-remote-installer se esta ejecutando
Icon=lliurex-remote-installer-indicator
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.remoteinstallernotifier
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
